.Idso
	position relative
	margin 2em 4em
	min-height 700px
	h4
		font-weight 800
		font-family 'Roboto Condensed', sans-serif
		font-size 24px
	form 
		margin 1.5em 0em
		input
			color #DEDEDE
			font-weight 500
			padding 0.5em
			// margin 0px
			width 500px
			border 1px solid #DDDDDD
.btn-search
	border 1px solid #dddddd
	background-color #dddddd
	border-radius 0px 2px 2px 0px
	width 2.5em
	height 2.6em