.table-tabs
	display table
	width 100%
	th 
		border-bottom 1px solid #DFE3E6
		font-size 0.9em
		font-weight 500
		color #44596E
		padding 0.5em 1em
	td 
		border-bottom 1px solid #DFE3E6
		font-size 0.9em
		font-weight normal
		color #63809E
		padding 1em 1em
	.drop-block 
		padding:0px!important
.caret-button 
	background-color transparent
	border none
	padding:0px
.dates-block 
	width 100%
	list-style-type none
	margin 0px
	padding 0.2em
	li 
		width 30%
		border 0.8px solid #CCCCCC
		border-radius 1em
		padding 0.2em
		margin:0.1em 0.5em 
		font-size 0.7em
		font-family 'Roboto Condensed', sans-serif
		float left
		background-color #F1F4F8
		color #404040
.flex 
	display flex
	align-items center
	justify-content center
.process 
	color #F5A623
	font-size 0.8em
	box-sizing border-box
	font-weight 500
	padding 0.3em 1em
	background-color #FDEFD7
	border 1px solid #F9D18F
	cursor default
.complete 
	box-sizing border-box
	background-color rgba(194,228,190,0.35)
	color #1AB25B
	border 1px solid rgba(47,204,114,0.5)
	font-size 0.8em
	font-weight 500
	padding 0.3em 1em
	cursor default
.review 
	box-sizing border-box
	font-size 0.8em
	color #007DC3
	font-weight 500
	padding 0.3em 1em
	border 1px solid rgba(0,125,195,0.5)
	background-color rgba(0,125,195,0.08)
	cursor default
.action 
	span 
		padding-right 1em
span 
	cursor pointer
.drop-menu 
	background-color #F2F5F8
	td 
		border-bottom none
		padding 1em 1em
.drop-menu-dates 
	background-color #CCD6E0
	width 32%
	border-radius 1em
	align-items center
	font-size 0.7em
	padding 0.3em 1em
	border: 0.8px solid #CCCCCC;